@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  scroll-behavior: smooth;
  background-color: #FAF9F6;
}

h1,
h2,
h3{
  background: linear-gradient(45deg, #a57233 ,#502c03);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
p{
  color: black;
}

.container {
  display: grid;
  height: 200vh;
  width: 100%; 
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 1.5fr 1.5fr 1.5fr 0.5fr;
  grid-template-areas:
    "nav nav"
    "header header"
    "main main"
    "section section"
    "footer footer";
  grid-gap: 70px;
  font-family: 'Poppins', sanrs-serif;
  font-size: 15px;
}




      /** Navigation style starts **/


nav{
  grid-area: nav;
}

nav ul{
  background-color: #a57233;
  display: grid;
  grid-template-columns: repeat(4, 150px);
  justify-content: center;
  justify-items: center;
  list-style: none;
  margin-bottom: 7px;
  padding: 10px;
}

nav ul li{
  border: 2px solid white;
  border-radius: 5px;
}

nav ul li a{
  text-decoration: none;
  padding: 5px;
  color: white;  
}

nav ul li a:hover{
  color: black;
}

      /*** Navigions style Ends ***/


      /** Header styling starts  **/

header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  justify-content: space-around;
  justify-items: center; 
  text-align: center; 
}

img{
  object-fit: cover;
  width: 100%;
  height: 70%;
}

       /*** Header styling Ends  ***/


      /** Main styling starts **/

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  justify-content: space-around;
  justify-items: center;
  text-align: center;
}

iframe{
  height: 400px;
  width: 90%;
  margin-top: 5px;
}

      /*** Main styling Ends ***/

      /*** Table Style Stars ***/

section{
  color: black;
  grid-area: section;
  display: grid;
  grid-template-rows: repeat(2, 100px);
  justify-content: center;
  justify-items: center;
}

table{
  /* border: 1px solid black; */
  
}

th,td{
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid black;
  
}

tfoot{
  background-color: rgb(20, 97, 20);
  color: white;
}


      /*** Table Style Ends ***/

footer{
  background-color: #a57233;
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(2, 0.2fr);
  justify-content: left;
  padding: 30px;
}

footer > p{
  color: white;
}


      /* @media stlying Mobil */




@media only screen and (max-width: 1300px) {

   .container{
    display: grid;
    height: 200vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr auto;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "section"
    "footer";
    grid-gap: 30px;
    font-size: 20px;
  
 
  
  }

  nav{
    grid-area: nav;
    position: sticky;
    top: 0px;
  }
  
  header{
    grid-area: header;
    grid-template-columns: 1fr;
    /* width: 80%; */
  }
  
  article{
    padding: 0 40px;
  }

  main{
    grid-area: main;
    grid-template-columns: 1fr;
    width: 100%;
  }

  section{
    grid-area: section;
    grid-template-rows: 1fr;
  }

  footer{
    grid-area: footer;
    grid-template-columns: 1fr;
    justify-content: left;
  }

}