@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.container {
  display: grid;
  height: 100vh; 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.2fr 1.5fr 1.5fr 1fr 0.5fr;
  grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "main main main main"
    "section section section section"
    "footer footer footer footer";
  grid-gap: 10px;
  font-family: 'Poppins', sans-serif;
  color: white;
  
}


      /** Navigation style starts **/


nav{
  background-color: Black;
  grid-area: nav;
  
}

nav ul{
  display: grid;
  grid-template-columns: repeat(4, 150px);
  justify-content: center;
  justify-items: center;
  list-style: none;
  margin: 7px 100px;
}

nav ul li{
  border: 2px solid white;
  border-radius: 2px;
}

nav ul li a{
  text-decoration: none;
  padding: 5px;
  color: white;   
}

nav ul li a:hover{
  color: blue;
}

      /*** Navigions style Ends ***/


      /** Header styling starts  **/

header {
  background-color: hotpink;
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  justify-content: center;
  justify-items: center; 
  text-align: center;
  
}

.image{
  margin: 10px 10px 0 0;
  height: 100%;
}

       /*** Header styling Ends  ***/


      /** Main styling starts **/

main {
  background-color: green;
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  justify-content: center;
  justify-items: center;
  text-align: center;
  justify-content: space-around;

}

iframe{
  height: 400px;
  width: 100%;
  margin: 5px 0;
  /* grid-template-rows: 2 / -1; */
}



      /*** Main styling Ends ***/

      /*** Table Style Stars ***/

section{
  background-color: yellow;
  color: black;
  grid-area: section;
  display: grid;
  grid-template-rows: repeat(1, 100px);
  justify-content: center;
  justify-items: center;
}

.table-list{
  padding: 5px;
  margin: 0 0 10px 0;
  text-align: center;
}


      /*** Table Style Ends ***/

footer{
  background-color: blue;
  grid-area: footer;
}




    

      /* @media stlying Mobil */




@media only screen and (max-width: 1300px) {

   .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 2fr 1fr;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "section"
    "footer";
    grid-gap: 10px;
    font-size: 20px;
  }

  nav{
    grid-area: nav;
    position: sticky;
    top: 0px;
  }
  
  header{
    grid-area: header;
    grid-template-columns: 1fr;
    height: auto;
    width: auto;
  }
  
  main{
    grid-area: main;
    grid-template-columns: 1fr;
    width: 100%;
  }

  section{
    grid-area: section;
    grid-template-rows: 1fr;
  }

  /* h1,h2,h3,p{
    text-align: left;
  } */

}
